body{
    background-color: #141A07;
}

.contenedor{
    margin: auto;
    margin-top:7%;
    width:845px;
    height: 304px;
    border: 7px solid white;
    display: flex;
}
h1{
    color:white;
    font-size:90px;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}
.imagen{
    padding:auto !important;
}

footer{
    background-color:white;
}